/.WhileLangRuntimeModule.java._trace
/.WhileLangStandaloneSetup.java._trace
/.WhileLangRuntimeModule.xtendbin
/.WhileLangStandaloneSetup.xtendbin
/WhileLangRuntimeModule.java
/WhileLangStandaloneSetup.java
/generator/
/scoping/
/utility/
/validation/
