/.WhileLangDescriptionLabelProvider.java._trace
/.WhileLangDescriptionLabelProvider.xtendbin
/.WhileLangLabelProvider.java._trace
/.WhileLangLabelProvider.xtendbin
/WhileLangDescriptionLabelProvider.java
/WhileLangLabelProvider.java
